:root {
    --background-color:  #11141a;
    --background-color-lighter: #191d25;
    --text-color: white;
    --text-color-2: #b1b5bd;
    --border-line-less-visible: rgb(249, 249, 249, .2);
    --border-line: rgb(249, 249, 249, .4);
    --border-line-more-visible: rgb(249, 249, 249, .6)
}

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
}


.border-div {
    margin-left: auto;
    margin-right: auto;
  
    height: 5px;
    width: 65vw;
    border-bottom: 1px solid var(--border-line);
  }

  footer {
      display: flex;
      height: 25px;
      width: 100%;
      background-color: var(--background-color-lighter);
      color: var(--text-color);
      font-family: "Libre Franklin";

      align-items: center;
      justify-content: center;
  }

  @media screen and (max-width: 900px) {
      .border-div {
          width: 90vw;
      }
  }